@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
body#cart .form-control-comment, body#checkout .form-control-comment {
    padding-left: 0 !important;
    display: block;
    color: #888 !important;
    font-weight: 400 !important;
    font-size: 15px !important;
}
body#checkout section.checkout-step #customer-form .form-control-label, body#checkout section.checkout-step #delivery-address .form-control-label, body#checkout section.checkout-step #invoice-address .form-control-label, body#checkout section.checkout-step #login-form .form-control-label {
    text-align: left;
    font-size: 15px;
    font-weight: 400;
}
body#checkout section.checkout-step #customer-form .radio-inline {
    margin: 0 !important;
}
#checkout #checkout-personal-information-step .tab-content .form-control:focus {
    outline: 0;
    border-color: #4caf50 !important;
}
#checkout #checkout-personal-information-step .nav .nav-item {
    width: 50%;
    float: left;
    margin: 0;
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}
#checkout #checkout-personal-information-step .nav .nav-item:last-child {
    border-right: 1px solid #e1e1e1 !important;
}
#checkout #checkout-personal-information-step .nav .nav-item .nav-link {
    display: block;
    line-height: 35px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    color: #888888 !important;
    font-weight: 500;
    background-color: #F8F8F8;
    font-size: 16px;
    border-top: 1px solid #e1e1e1;
    min-height: 59px;
}
#checkout #checkout-personal-information-step .nav .nav-item .nav-link.active {
    color: #282828 !important;
}
body#cart, body#checkout{
    @media (min-width: 1200px) {
        .container {
            width: 1600px;
            max-width: 100%;
        }
    }
    .product-line-grid{
        .product-price strong{
            font-weight: 600 !important;
            color: #000!important;
        }
    }
    
    .has-discount .discount {
        background: #f85c3d;
        color: white;
        font-weight: 500;
        padding: 1px 8px;
        font-size: 11px;
        margin: 0 5px 0 0;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: 5px;
        border-radius: 5px;
    }
    h2.h4{
        border-top: 1px solid #e1e1e1;
        margin-top: 20px;
        margin-bottom: 25px;
        padding-top: 50px;
    }
    .field-id_gender{
        margin-bottom: 40px !important;
    }
    .form-group {
        margin-bottom: 30px !important;
    }
    .div.kreassurance_product .block-title, div.reassurance_product p.block-title {
        font-size:14px !important;
        color:#444 !important;
        line-height: 22px !important;
    }
    .jp_delivery{
        i.fa-trash-can{
            background: white !important;
            color: white !important;
        }
    }
    #js-checkout-summary, section.js-current-step{
        box-shadow: none!important;
        .aeuc_scart{
            color: black !important;
        }
        #cart-summary-product-list{
            color: black !important;
            .product-price{
                font-weight: 400!important;
            }
        }
    }
    .field-firstname, .field-lastname {
        .form-control-comment{
            display:none !important;
        }
    }
    .form-control-comment{
        padding-left:0!important;
        display:block;
    }
    .cart-overview.js-cart{
        padding: 0 !important;
    }
    .block-promo .promo-code-button .collapse-button{
        padding: 0px 0px !important;
    }
    div.cart-summary-line#cart-subtotal-shipping{
        height: 50px;
    }
    .js-cart-summary-top h5.aeuc_scart {
        margin-top: 0px;
    }
    h5.aeuc_scart {
        letter-spacing: 0px !important;
    }
    hr.separator{
        display: none;
    }
    #footer{
        display: none;
    }
    #header{
        border-bottom: 1px solid #CFCFCF;
        margin-bottom: 40px !important;
    }
    .h-logo {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        max-width: 200px;
    }
    .leo-fly-cart{
        display: none;
    }
    .cart-detailed-totals > .card-block {
        border-bottom: 0px !important;
    }
    .reassurance_product > div span.item-product {
        left: 0px !important;
    }
}

body#checkout #order-summary-content .col-md-12 > h4.black {
    font-size: 20px!important;
    color: #333!important;
    background-color: transparent!important;
    padding: 15px 0px 35px 0px!important;
    border-bottom: 1px solid #e1e1e1!important;
    margin: 0!important;
    text-transform: none!important;
}
body#checkout #order-summary-content h4.h4 {
    padding: 25px 0px 0px 0px !important;
}
#order-summary-content{
    .card-block {
        padding: 0px;
    }
}
body#checkout #order-summary-content .order-confirmation-table {
    padding: 0px!important;
}
.jp_summary .jp_delivery .jp_delivery_preview .jp_delivery_preview_inner .jp_delivery_preview_row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
}
.jp_summary .jp_delivery{
    border-top: 1px dotted lightgray;
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 20px !important;
    padding-top: 30px;
    font-style: italic;
    color: gray;
}
body#checkout section.checkout-step .payment-options .payment-option {
    width: 100%;
}
#jporder_ares{
    background: #3198a4;
    text-align: center;
    padding: 8px 15px;
    border-radius: 3px;
    color: white;
    margin-top: 20px;
    display: inline-block;
    font-size: 12px;
}
#jporder_ares:hover{
    opacity: 0.8;
}
.password-container{
    display: block!important;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    #password-info{
        margin-bottom:10px;
    }
    .form-control-label{
        margin-left: 0;
        padding-left: 0;
    }
}
#cart{
    .product-line-grid-right .bootstrap-touchspin{
        box-shadow: none!important;
    }
    .input-group{
      
        button{
            background:#f7f7f7 !important;
            color: gray!important;
            border: 1px solid lightgray !important;
        }
        input{
            text-align: center;
        }
    }
}
@media screen and (max-width: 575px) {
    body#cart, body#checkout{
        .btn.btn-primary.float-xs-left.btn-outline{
            width: 100%;
        }
        .checkout.cart-detailed-actions.card-block .btn {
            background: #EA9828;
            width: 100%;
        }
        .promo-code .btn {
            margin-left: 0px !important;
            width: 100%;
            margin-top: 20px;
        }
        .block-promo .promo-input {
            width: 100% !important;
            min-width: 100% !important;
        }
        #checkout #checkout-personal-information-step .tab-content {
            padding: 0, i !important;;
        }
        #checkout #checkout-personal-information-step ul.nav-inline{
            .nav-link:first-child{
                .nav-link{
                    line-height: 0px!important;
                    padding: 2px 5px;
                    font-size:14px;
                }
            }   
        }
    }
    #checkout #checkout-personal-information-step ul.nav-inline{
        li.nav-item:first-child{
            .nav-link{
                line-height: 23px!important;
                padding: 2px 5px;
                font-size:15px;
            }
        }   
    }
    #checkout #checkout-personal-information-step .tab-content {
        padding: 20px 0px !important;
        .form-control-comment{
            margin-left: 10px;
        }
    }
    body#checkout section.checkout-step .btn-primary {
        width: 100%;
    }
    body#checkout section.checkout-step .content {
        padding: 20px 0px !important;
    }
    .jp_deliveryOptions .jp_deliveryOption .jp_deliveryOption_top {
        margin-bottom: 20px;
    }
    .jp_deliveryOptions .jp_deliveryOption .jp_deliveryOption_top .jp_deliveryOption_body {
        justify-content: center !important;
    }
    .jp_delivery .jp_delivery_wrapper .jp_delivery_row {
        grid-template-columns: 1fr !important;
    }
    #jp_bringdown_trash{
        img{
          max-height: 20px;
        }
      }
      .jp_delivery .jp_delivery_preview .jp_delivery_preview_inner .jp_delivery_preview_row {
        display: flex !important;
        flex-direction: column;
        align-items: start;
    }
}
body#checkout #order-summary-content {
    box-shadow: none!important;
    border: none!important;
    margin-top: 30px;
}
