@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
.custom-checkbox input[type=checkbox] + span, .custom-checkbox input[type=radio] + span {
  margin-right: 0px !important;
}

body#checkout section.checkout-step .payment-options .custom-radio {
  margin: 0 !important;
}

body#checkout .custom-checkbox {
  color: green !important;
}

.btn-jp-custom {
  padding: 15px 35px !important;
  font-size: 16px !important;
  background-color: #cccccc !important;
  color: black !important;
  border: 1px solid #cccccc !important;
}
.btn-jp-custom:hover {
  background-color: white !important;
  border: 1px solid black;
}

#js-checkout-summary .cart-summary-subtotals-container {
  border-top: 0px !important;
}

div#csoc-container {
  padding-top: 0px !important;
}

.cart-container .cart-item {
  padding: 30px 5px !important;
  border-bottom: 1px solid #e1e1e1;
}

.cart-grid .cart-grid-body .card-block {
  padding: 0 0 30px 0 !important;
}

.cart-grid-body .card-block h1 {
  font-size: 2em !important;
}

.jporder-checkout section.checkout-step .step-title {
  margin-top: 0 !important;
}

.jporder-checkout {
  min-height: 60px !important;
}

#blockcart-modal .cart-content a.btn, .product-add-to-cart .product-quantity .add-to-cart, .leo-cart-dropdown-action a.btn.cart-dropdow-checkout, .continue.btn, button.btn.btn-primary.center-block, .checkout.cart-detailed-actions.card-block .btn {
  background: #f29a02 !important;
  background-image: url("/themes/at_movic/assets/img/bg-btn.png") !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-position-x: 100% !important;
}
#blockcart-modal .cart-content a.btn:hover, .product-add-to-cart .product-quantity .add-to-cart:hover, .leo-cart-dropdown-action a.btn.cart-dropdow-checkout:hover, .continue.btn:hover, button.btn.btn-primary.center-block:hover, .checkout.cart-detailed-actions.card-block .btn:hover {
  background: #d78800 !important;
}

body#checkout section.checkout-step #customer-form .input-group-btn .btn[data-action=show-password] {
  position: relative !important;
  left: -50px !important;
}

body#checkout section.checkout-step #login-form .input-group-btn .btn[data-action=show-password] {
  position: relative !important;
  left: -50px !important;
}

body#cart .form-control-comment, body#checkout .form-control-comment {
  padding-left: 0 !important;
  display: block;
  color: #888 !important;
  font-weight: 400 !important;
  font-size: 13px !important;
}

body#checkout .form-control-label, body#checkout #delivery-address .form-control-label, body#checkout #invoice-address .form-control-label, body#checkout #login-form .form-control-label {
  text-align: left;
  font-size: 15px;
  font-weight: 400;
}

body#checkout section.checkout-step #customer-form .radio-inline {
  margin: 0 !important;
}

#checkout #checkout-personal-information-step .tab-content .form-control:focus {
  outline: 0;
  border-color: #4caf50 !important;
}

#checkout #checkout-personal-information-step .nav .nav-item {
  width: 50%;
  float: left;
  margin: 0;
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
}

#checkout #checkout-personal-information-step .nav .nav-item:last-child {
  border-right: 1px solid #e1e1e1 !important;
}

#checkout #checkout-personal-information-step .nav .nav-item .nav-link {
  display: block;
  line-height: 35px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  color: #888888 !important;
  font-weight: 500;
  background-color: #F8F8F8;
  font-size: 16px;
  border-top: 1px solid #e1e1e1;
  min-height: 59px;
}

#checkout #checkout-personal-information-step .nav .nav-item .nav-link.active {
  color: #282828 !important;
}

body#cart .delivery-options-list, body#checkout .delivery-options-list {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3px;
  margin-bottom: 40px;
}

#js-checkout-summary .cart-summary-products {
  padding: 15px 15px 0px 15px !important;
  border-bottom: 1px solid #e1e1e1;
}

body#cart #jp_bringdown_submit, body#checkout #jp_bringdown_submit {
  text-align: center;
  margin: 0 auto;
  display: flex;
  padding: 8px 60px;
  background: #292929;
  font-size: 14px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  border: 0px !important;
}
body#cart #jp_bringdown_submit:hover, body#checkout #jp_bringdown_submit:hover {
  background: #666666;
}
body#cart #jp_bringdown_submit.disabled, body#checkout #jp_bringdown_submit.disabled {
  background-color: #cccccc;
}
body#cart .jp_delivery hr, body#checkout .jp_delivery hr {
  margin-block: 25px;
  opacity: 0.2;
  border: 1px dotted #aaa;
}
body#cart .jp_order_edit, body#checkout .jp_order_edit {
  font-size: 13px;
  color: gray;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;
  margin-left: 20px;
}
body#cart .jp_order_edit img, body#checkout .jp_order_edit img {
  width: 15px;
  height: 15px;
}
body#cart #id_summary_message, body#checkout #id_summary_message {
  padding: 10px;
  background: #f6f6f6;
  border: 1px solid lightgray;
  border-top: 0px;
}
body#cart #id_summary_message strong, body#checkout #id_summary_message strong {
  font-weight: 500 !important;
  color: black;
}
body#cart .companyPurchase-checkbox-row, body#checkout .companyPurchase-checkbox-row {
  margin-left: 1px;
}
body#cart .companyPurchase-checkbox-row label, body#checkout .companyPurchase-checkbox-row label {
  font-weight: 400 !important;
}
body#cart #jpfooter, body#checkout #jpfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  height: 80px;
  width: 100%;
}
body#cart #jpfooter .inner, body#checkout #jpfooter .inner {
  padding: 20px;
  display: flex;
  gap: 1rem;
  align-items: center;
}
body#cart #jpfooter .inner i, body#checkout #jpfooter .inner i {
  font-size: 45px;
}
body#cart #jpfooter .inner div, body#checkout #jpfooter .inner div {
  display: flex;
  flex-direction: column;
}
body#cart #jpfooter .inner div .phone, body#checkout #jpfooter .inner div .phone {
  font-weight: 500;
  font-size: 16px;
}
body#cart .js-terms, body#checkout .js-terms {
  color: black !important;
}
body#cart .js-customer-form label.radio-inline, body#checkout .js-customer-form label.radio-inline {
  padding: 10px 20px 0 0 !important;
  font-weight: 400 !important;
}
body#cart .tab-content, body#checkout .tab-content {
  padding: 0 !important;
  padding-top: 40px !important;
}
body#cart .password-container, body#checkout .password-container {
  margin-left: 1px;
}
body#cart .password-container strong, body#checkout .password-container strong {
  font-weight: 400 !important;
}
body#cart .field-newsletter, body#checkout .field-newsletter {
  margin-bottom: 0px !important;
}
body#cart .field-newsletter label, body#cart .field-customer_privacy label, body#checkout .field-newsletter label, body#checkout .field-customer_privacy label {
  font-weight: 400 !important;
}
body#cart .form-control, body#checkout .form-control {
  font-size: 14px;
}
body#cart .cart-grid-right, body#checkout .cart-grid-right {
  padding-left: 60px;
}
body#cart .cart-footer-buttons, body#checkout .cart-footer-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
body#cart .cart-footer-buttons .btn-jp-primary, body#checkout .cart-footer-buttons .btn-jp-primary {
  background-color: #f79f03 !important;
  background-image: url("/themes/at_movic/assets/img/bg-btn.png");
  font-size: 15px;
  padding-inline: 35px;
  padding-block: 15px;
  border: 1px solid #f79f03;
}
body#cart .cart-footer-buttons .btn-jp-primary:hover, body#checkout .cart-footer-buttons .btn-jp-primary:hover {
  background-color: #d78800 !important;
  border: 1px solid #d78800;
}
body#cart .cart-footer-buttons .btn-jp-secondary, body#checkout .cart-footer-buttons .btn-jp-secondary {
  background: #cccccc !important;
  border: 1px solid #cccccc;
  font-size: 15px;
  color: black;
  padding-inline: 35px;
  padding-block: 15px;
}
body#cart .cart-footer-buttons .btn-jp-secondary:hover, body#checkout .cart-footer-buttons .btn-jp-secondary:hover {
  background: white !important;
}
body#cart .jp_delivery .jp_delivery_preview .jp_delivery_preview_inner .jp_delivery_preview_row p:first-child, body#checkout .jp_delivery .jp_delivery_preview .jp_delivery_preview_inner .jp_delivery_preview_row p:first-child {
  font-weight: 400 !important;
}
body#cart .jp_delivery_preview_remove img, body#checkout .jp_delivery_preview_remove img {
  width: 20px !important;
  height: auto;
  position: relative;
  top: 0px !important;
}
body#cart .jp_delivery_preview_row p, body#checkout .jp_delivery_preview_row p {
  margin-bottom: 0 !important;
  font-style: italic;
  color: black;
}
body#cart .jp_select_wrapper, body#checkout .jp_select_wrapper {
  max-width: 100% !important;
}
body#cart .jp_delivery_row, body#checkout .jp_delivery_row {
  grid-template-columns: 1fr;
}
body#cart .jp_delivery, body#checkout .jp_delivery {
  margin-left: 95px;
}
body#cart label[for=delivery_message], body#checkout label[for=delivery_message] {
  font-size: 15px;
  font-weight: 400;
}
body#cart #deliveryMessage, body#checkout #deliveryMessage {
  margin-top: 60px !important;
}
body#cart .payment-options .jp_deliveryOptions, body#checkout .payment-options .jp_deliveryOptions {
  margin-bottom: -10px;
  border-bottom: 1px solid #e1e1e1;
}
body#cart form#js-delivery .form-fields, body#checkout form#js-delivery .form-fields {
  margin-bottom: -85px;
}
@media (min-width: 1200px) {
  body#cart .container, body#checkout .container {
    width: 1600px;
    max-width: 100%;
  }
}
body#cart .product-line-grid .product-price strong, body#checkout .product-line-grid .product-price strong {
  font-weight: 600 !important;
  color: #000 !important;
}
body#cart .has-discount .discount, body#checkout .has-discount .discount {
  background: #f85c3d;
  color: white;
  font-weight: 500;
  padding: 1px 8px;
  font-size: 11px;
  margin: 0 5px 0 0;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: 5px;
  border-radius: 5px;
}
body#cart h2.h4, body#checkout h2.h4 {
  border-top: 1px solid #e1e1e1;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-top: 50px;
}
body#cart .field-id_gender, body#checkout .field-id_gender {
  margin-bottom: 40px !important;
}
body#cart .form-group, body#checkout .form-group {
  margin-bottom: 30px !important;
}
body#cart .div.kreassurance_product .block-title, body#cart div.reassurance_product p.block-title, body#checkout .div.kreassurance_product .block-title, body#checkout div.reassurance_product p.block-title {
  font-size: 14px !important;
  color: #444 !important;
  line-height: 22px !important;
}
body#cart .jp_delivery i.fa-trash-can, body#checkout .jp_delivery i.fa-trash-can {
  background: white !important;
  color: white !important;
}
body#cart #js-checkout-summary, body#cart section.js-current-step, body#checkout #js-checkout-summary, body#checkout section.js-current-step {
  box-shadow: none !important;
}
body#cart #js-checkout-summary .aeuc_scart, body#cart section.js-current-step .aeuc_scart, body#checkout #js-checkout-summary .aeuc_scart, body#checkout section.js-current-step .aeuc_scart {
  color: black !important;
}
body#cart #js-checkout-summary #cart-summary-product-list, body#cart section.js-current-step #cart-summary-product-list, body#checkout #js-checkout-summary #cart-summary-product-list, body#checkout section.js-current-step #cart-summary-product-list {
  color: black !important;
}
body#cart #js-checkout-summary #cart-summary-product-list .product-price, body#cart section.js-current-step #cart-summary-product-list .product-price, body#checkout #js-checkout-summary #cart-summary-product-list .product-price, body#checkout section.js-current-step #cart-summary-product-list .product-price {
  font-weight: 400 !important;
}
body#cart .field-firstname .form-control-comment, body#cart .field-lastname .form-control-comment, body#checkout .field-firstname .form-control-comment, body#checkout .field-lastname .form-control-comment {
  display: none !important;
}
body#cart .form-control-comment, body#checkout .form-control-comment {
  padding-left: 0 !important;
  display: block;
}
body#cart .cart-overview.js-cart, body#checkout .cart-overview.js-cart {
  padding: 0 !important;
}
body#cart .block-promo .promo-code-button .collapse-button, body#checkout .block-promo .promo-code-button .collapse-button {
  padding: 0px 0px !important;
}
body#cart div.cart-summary-line#cart-subtotal-shipping, body#checkout div.cart-summary-line#cart-subtotal-shipping {
  height: 50px;
}
body#cart .js-cart-summary-top h5.aeuc_scart, body#checkout .js-cart-summary-top h5.aeuc_scart {
  margin-top: 0px;
}
body#cart h5.aeuc_scart, body#checkout h5.aeuc_scart {
  letter-spacing: 0px !important;
}
body#cart hr.separator, body#checkout hr.separator {
  display: none;
}
body#cart #footer, body#checkout #footer {
  display: none;
}
body#cart #header, body#checkout #header {
  border-bottom: 1px solid #CFCFCF;
  margin-bottom: 60px !important;
}
body#cart .h-logo, body#checkout .h-logo {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  max-width: 200px;
}
body#cart .leo-fly-cart, body#checkout .leo-fly-cart {
  display: none;
}
body#cart .cart-detailed-totals > .card-block, body#checkout .cart-detailed-totals > .card-block {
  border-bottom: 0px !important;
}
body#cart .reassurance_product > div span.item-product, body#checkout .reassurance_product > div span.item-product {
  left: 0px !important;
}

body#checkout #order-summary-content .col-md-12 > h4.black {
  font-size: 20px !important;
  color: #333 !important;
  background-color: transparent !important;
  padding: 15px 0px 35px 0px !important;
  border-bottom: 1px solid #e1e1e1 !important;
  margin: 0 !important;
  text-transform: none !important;
}

body#checkout #order-summary-content h4.h4 {
  padding: 25px 0px 0px 0px !important;
}

#order-summary-content .card-block {
  padding: 0px;
}

body#checkout #order-summary-content .order-confirmation-table {
  padding: 0px !important;
}

.jp_summary .jp_delivery .jp_delivery_preview .jp_delivery_preview_inner .jp_delivery_preview_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
}

.jp_summary .jp_delivery {
  border-top: 1px dotted lightgray;
  width: 100% !important;
  margin-left: 0 !important;
  margin-top: 20px !important;
  padding-top: 30px;
  font-style: italic;
  color: gray;
}

body#checkout section.checkout-step .payment-options .payment-option {
  width: 100%;
}

#jporder_ares {
  background: #3198a4;
  text-align: center;
  padding: 8px 15px;
  border-radius: 3px;
  color: white;
  margin-top: 20px;
  display: inline-block;
  font-size: 12px;
}

#jporder_ares:hover {
  opacity: 0.8;
}

.password-container {
  display: block !important;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
}
.password-container #password-info {
  margin-bottom: 10px;
}
.password-container .form-control-label {
  margin-left: 0;
  padding-left: 0;
}

#cart .input-group-btn:not(:first-child) > .btn, #cart .input-group-btn:not(:first-child) > .btn-group {
  z-index: 2;
  margin-left: 0px !important;
}
#cart .input-group-btn:not(:last-child) > .btn, #cart .input-group-btn:not(:last-child) > .btn-group {
  margin-right: 0px !important;
}
#cart .product-line-grid-right .bootstrap-touchspin {
  box-shadow: none !important;
}
#cart .input-group button {
  background: #f7f7f7 !important;
  color: gray !important;
  border: 1px solid lightgray !important;
  font-size: 16px;
}
#cart .input-group input {
  text-align: center;
  border-block: 1px solid lightgray;
  border-inline: 0;
}

@media screen and (max-width: 575px) {
  body#cart .cart-grid-right, body#checkout .cart-grid-right {
    padding-left: 0px;
  }
  body#cart .cart-footer-buttons, body#checkout .cart-footer-buttons {
    flex-direction: column-reverse;
  }
  body#cart .jp_select.bringdown_type .select-options, body#checkout .jp_select.bringdown_type .select-options {
    width: auto;
  }
  body#cart .jp_delivery, body#checkout .jp_delivery {
    margin-left: 0px;
  }
  body#cart .btn.btn-primary.float-xs-left.btn-outline, body#checkout .btn.btn-primary.float-xs-left.btn-outline {
    width: 100%;
  }
  body#cart .checkout.cart-detailed-actions.card-block .btn, body#checkout .checkout.cart-detailed-actions.card-block .btn {
    background: #EA9828;
    width: 100%;
  }
  body#cart .promo-code .btn, body#checkout .promo-code .btn {
    margin-left: 0px !important;
    width: 100%;
    margin-top: 20px;
  }
  body#cart .block-promo .promo-input, body#checkout .block-promo .promo-input {
    width: 100% !important;
    min-width: 100% !important;
  }
  body#cart #checkout #checkout-personal-information-step .tab-content, body#checkout #checkout #checkout-personal-information-step .tab-content {
    padding: 0, i !important;
  }
  body#cart #checkout #checkout-personal-information-step ul.nav-inline .nav-link:first-child .nav-link, body#checkout #checkout #checkout-personal-information-step ul.nav-inline .nav-link:first-child .nav-link {
    line-height: 0px !important;
    padding: 2px 5px;
    font-size: 14px;
  }
  #checkout #checkout-personal-information-step ul.nav-inline li.nav-item:first-child .nav-link {
    line-height: 23px !important;
    padding: 2px 5px;
    font-size: 15px;
  }
  #checkout #checkout-personal-information-step .tab-content {
    padding: 20px 0px !important;
  }
  #checkout #checkout-personal-information-step .tab-content .form-control-comment {
    margin-left: 10px;
  }
  body#checkout section.checkout-step .btn-primary {
    width: 100%;
  }
  body#checkout section.checkout-step .content {
    padding: 20px 0px !important;
  }
  .jp_deliveryOptions .jp_deliveryOption .jp_deliveryOption_top {
    margin-bottom: 20px;
  }
  .jp_deliveryOptions .jp_deliveryOption .jp_deliveryOption_top .jp_deliveryOption_body {
    justify-content: center !important;
  }
  .jp_delivery .jp_delivery_wrapper .jp_delivery_row {
    grid-template-columns: 1fr !important;
  }
  #jp_bringdown_trash img {
    max-height: 20px;
  }
  .jp_delivery .jp_delivery_preview .jp_delivery_preview_inner .jp_delivery_preview_row {
    display: flex !important;
    flex-direction: column;
    align-items: start;
  }
}
body#checkout #order-summary-content {
  box-shadow: none !important;
  border: none !important;
  margin-top: 30px;
}/*# sourceMappingURL=jp_custom.css.map */